#eda
pandas_profiling==3.0.0
#shapely
shapely
#shap
shap
#autoviz
autoviz

#model
catboost

#utility
sklearn
category_encoders

jinja2<3.1.0
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability